<div class="Container">
    <div class="Carousel">
      <div class="carouselContainer">
        <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2100">
              <img src="../../../../assets/carimbos.webp" class="d-block " alt="Imagem ilustrativa do serviço de carimbos">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Informations">
      <div class="Title">
        <h1>Carimbos</h1>
      </div>
      <div class="Details">
        <p>
            Na nossa loja, oferecemos uma ampla variedade de carimbos para atender às suas necessidades de identificação. Os carimbos podem ser personalizados de acordo com as informações que você deseja incluir, como nomes, endereços, logotipos e outros detalhes relevantes. 
        </p>
        <p>
            Trabalhamos com materiais de alta qualidade para garantir uma impressão clara e durável em cada carimbo. Além disso, nossa equipe está pronta para ajudá-lo a escolher o tipo de carimbo mais adequado para o seu uso específico.
        </p>
        <p>
            Seja para uso pessoal ou profissional, os carimbos são uma solução prática e eficiente para marcar documentos e materiais de forma rápida e precisa.
        </p>
        </div>
        <button id="addToCartButton">
        <a href="https://api.whatsapp.com/send?phone=+55619414-8101&text=Olá gostaria de solicitar um orçamento para o serviço de carimbos, pode me ajudar ?" target="_blank">Solicitar Orçamento</a>
        </button>
    </div>
</div>