<div class="storeContentContainer">
  <div class="storeContainer">
    <div class="storeName">
      <p>UNIDADE</p>
      <h1>Pistão Sul</h1>

      <div class="storeInfos">
        <div class="storeInfosContainer">
          <div class="storeInfos_Address">
            <h2>Endereço:</h2>
            <p>Pistão Sul</p>
            <p>Quadra Csg 7 Lote 7 Loja 01</p>
            <p>Taguatinga</p>
            <p>Brasília</p>
            <p>DF</p>
            <p>CEP: 72035-507</p>
          </div>
          <div class="storeInfos_Contact">
            <h2>Contato:</h2>
              <a href="https://api.whatsapp.com/send?phone=+55619414-7922&text=Olá%20Gostaria%20de%20informações%2C%20pode%20me%20atender%3F" target="_blank">Tel: (61)99414-7922</a>
              <a href="mailto:imprime.df@gmail.com" target="_blank">Email:	imprime.df@gmail.com</a>
          </div>
          <div class="storeInfos_Schedules">
            <h2>Horários de funcionamento:</h2>
              <p>Segunda a Sexta-feira:	08:00 – 18:00</p>
              <p>Sabado:	08:00 – 13:00</p>
              <p>Domingo:	Fechado!</p>
          </div>
        </div>
        <div class="storeInfos_Localization">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3837.777989328745!2d-48.03494032400096!3d-15.868261624780057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a2d99b82ed32f%3A0xf6adc30b3c847e8d!2sImprime%20Services%20-%20Gr%C3%A1fica%20e%20papelaria!5e0!3m2!1spt-BR!2sbr!4v1681869976404!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" alt="Localização da loja do pistao sul no google maps"></iframe>

          <div id="footer_social_media">
            <a href="https://instagram.com/imprimeservices?igshid=YmMyMTA2M2Y=" target="_blank" class="footer-link" id="instagram">
              <i class="fa-brands fa-instagram" alt="icone de acesso ao instagram da loja"></i>
            </a>
            <a href="https://api.whatsapp.com/send?phone=+55619414-7922&text=Olá%20Gostaria%20de%20informações%2C%20pode%20me%20atender%3F" class="footer-link" id="whatsapp" target="_blank">
              <i class="fa-brands fa-whatsapp" alt="icone de acesso ao whatsapp da loja"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
