

.carouselContainer img{
  border-radius: 4.5rem 1rem 4.5rem 1rem;
  height: 540px;
  width: 100%;

}

@media screen and (max-width: 1649px) {
  .carouselContainer img{
    border-radius: 4.5rem 1rem 4.5rem 1rem;
  }

}
@media screen and (max-width: 1169px) {
  .carouselContainer img{
    height: 480px;
    width: 840px;

  }
  .carouselContainer {
    display: flex;
    justify-content: center;
    margin: 60px 0px;

  }
  .carousel-item-start{
    display: flex;
    justify-content: center;
  }

}
@media screen and (max-width: 849px) {
  .carouselContainer img{
    height: 380px;
    width: 640px;

  }
  .carouselContainer {
    display: flex;
    justify-content: center;
    margin: 60px;

  }
  .carousel-item-start{
    display: flex;
    justify-content: center;
  }

}

@media screen and (max-width: 689px) {
  .carouselContainer img{
    height: 280px;
    width: 440px;

  }
  .carouselContainer {
    display: flex;
    justify-content: center;
    margin: 60px;

  }
  .carousel-item-start{
    display: flex;
    justify-content: center;
  }

}
@media screen and (max-width: 459px) {
  .carouselContainer img{
    height: 220px;
    width: 300px;

  }
  .carouselContainer {
    display: flex;
    justify-content: center;
    margin: 60px;

  }
  .carousel-item-start{
    display: flex;
    justify-content: center;
  }

}
