<div class="carouselContainer">
  <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2100">
        <img src="../../../assets/roll1.jpg" class="d-block " alt="Imagem do interior da loja, em destaque canetas vermelhas e coloridas.">
      </div>
      <div class="carousel-item" data-bs-interval="2100">
        <img src="../../../assets/roll2.jpg" class="d-block " alt="Imagem de uma vitrine do interior da loja, em destaque materiais de escritorio como lapis de colorir e giz de cera.">
      </div>
      <div class="carousel-item" data-bs-interval="2100">
        <img src="../../../assets/roll3.jpg" class="d-block " alt="Outra imagem de uma vitrine do interior da loja, em destaque materiais de escritorio como lapis de colorir, giz de cera, canetas, lapis e lapiseiras.">
      </div>
      <div class="carousel-item" data-bs-interval="2100">
        <img src="../../../assets/roll4.jpg" class="d-block " alt="Imagem de uma prateleira no interior da loja, em destaque materiais de escritorio como postiches, blocos de notas, agendas e algumas canetas coloridas.">
      </div>
      <div class="carousel-item" data-bs-interval="2100">
        <img src="../../../assets/roll5.jpg" class="d-block " alt="Imagem de 3 impressoras de alta performace que são utilizadas na loja para servicos de impressao, copia, cartões de visita, flyers, banners, adesivos e muito mais.">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
