<div class="carouselContainer">
  <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2100">
        <img src="../../../assets/roll1.jpg" class="d-block " alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2100">
        <img src="../../../assets/roll2.jpg" class="d-block " alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2100">
        <img src="../../../assets/roll3.jpg" class="d-block " alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2100">
        <img src="../../../assets/roll4.jpg" class="d-block " alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2100">
        <img src="../../../assets/roll5.jpg" class="d-block " alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
