<h1>Produtos e Serviços</h1>
<section class="splide" >
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <a href="/impressao-digital" (click)="scrollTop()">
          <div class="container-item">
            <div class="card">
              <img class="card-img" src="../../../assets/impressora-digital.webp" alt="Seção de Impressão Digital">
              <div class="card-content">
                <h2 class="card-header">Impressão Digital</h2>
                <p class="card-text">Conte com nossa experiência em impressão digital e offset para obter resultados de alta qualidade. Trabalhamos com tecnologia avançada e materiais premium para produzir impressões nítidas, cores vibrantes e detalhes precisos em diversos tipos de projetos e tamanhos.</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="splide__slide">
        <a href="/produtos-personalizados" (click)="scrollTop()">
          <div  class="container-item">
            <div class="card">
              <img class="card-img" src="../../../assets/produtos-personalizados-1.webp" alt="Seção de Produtos personalizados">
              <div class="card-content">
                <h2 class="card-header">Produtos Personalizados</h2>
                <app-btn-parceria></app-btn-parceria>
                <p class="card-text">Destaque-se da concorrência com nossos produtos personalizados. De brindes corporativos a presentes personalizados. Oferecemos uma ampla variedade de produtos de alta qualidade, incluindo canecas, camisas, azulejos, MDF e brindes.</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="splide__slide">
        <a href="/encadernacao" (click)="scrollTop()">
          <div class="container-item">
            <div class="card">
              <img class="card-img" src="../../../assets/encadernacao-1.webp" alt="Seção de Encadernação e Plastificação">
              <div class="card-content">
                <h2 class="card-header">Encadernação e Plastificação</h2>
                <p class="card-text">Dê um toque profissional aos seus documentos e projetos com nossos serviços de encadernação e plastificação de qualidade. Temos diversas opções de encadernação, incluindo espiral, wire-o, brochura e capa dura.</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="splide__slide">
        <a href="/criacao-arte-design" (click)="scrollTop()">
          <div class="container-item">
            <div class="card">
              <img class="card-img" src="../../../assets/criacao-design.webp" alt="Seção de Criação de Arte e Design Gráfico">
              <div class="card-content">
                <h2 class="card-header">Criação de Arte e Design Gráfico</h2>
                <p class="card-text">Transforme suas ideias em realidade com nossos serviços de criação de arte e design gráfico. Nossa equipe de profissionais qualificados está pronta para criar designs personalizados que transmitam sua mensagem de forma impactante e criativa.</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="splide__slide">
        <a href="/material-escritorio" (click)="scrollTop()">
          <div class="container-item">
            <div class="card">
              <img class="card-img" src="../../../assets/produtos-material-escolar.webp" alt="Seção de Material de Escritório e Escolar">
              <div class="card-content">
                <h2 class="card-header">Material de Escritório e Escolar</h2>
                <p class="card-text">Encontre uma ampla variedade de materiais de escritório e escolar na nossa loja. Desde itens básicos como papel, canetas e grampeadores até organizadores, agendas e pastas, estamos prontos para suprir suas necessidades de forma eficiente.</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="splide__slide">
        <a href="/banner" (click)="scrollTop()">
          <div class="container-item">
            <div class="card">
              <img class="card-img" src="../../../assets/banner.webp" alt="Seção de banner">
              <div class="card-content">
                <h2 class="card-header">Banner</h2>
                <p class="card-text">Destaque-se com nossos banners personalizados impressos em lona ou papel de alta qualidade para garantir um impacto visual impressionante. Perfeitos para eventos, promoções ou exposições, nossa ampla variedade de tamanhos e acabamentos garantirá que sua mensagem seja vista e lembrada.</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="splide__slide">
        <a href="/adesivo-metro" (click)="scrollTop()">
          <div class="container-item">
            <div class="card">
              <img class="card-img" src="../../../assets/adesivo.webp" alt="Seção de adesivo em metro">
              <div class="card-content">
                <h2 class="card-header">Adesivo em Metro</h2>
                <p class="card-text">Transforme qualquer superfície em uma oportunidade de comunicação com nossos adesivos personalizados em metro. Seja para fins promocionais, decoração ou identificação, nossos adesivos duráveis e de alta aderência farão com que sua mensagem seja vista e lembrada.</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="splide__slide">
        <a href="/carimbo" (click)="scrollTop()">
          <div class="container-item">
            <div class="card">
              <img class="card-img" src="../../../assets/carimbos.webp" alt="Seção de carimbos">
              <div class="card-content">
                <h2 class="card-header">Carimbo</h2>
                <p class="card-text">Otimize a identificação dos seus documentos com carimbos personalizados e de alta precisão e durabilidade, feitos com materiais de qualidade. Nossa loja oferece uma variedade de opções para atender às suas necessidades de marcação rápida e precisa.</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="splide__slide">
        <a href="/cartao-visita" (click)="scrollTop()">
          <div class="container-item">
            <div class="card">
              <img class="card-img" src="../../../assets/cartao-de-visita.webp" alt="Seção de cartão de visita">
              <div class="card-content">
                <h2 class="card-header">Cartão de Visita</h2>
                <p class="card-text">Deixe uma primeira impressão marcante nos seus contatos comerciais com nossos cartões de visita profissionais e personalizados, que refletem sua identidade única. Com opções de acabamento e design sob medida, você se destacará em qualquer evento ou reunião.</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="splide__slide">
        <a href="/cracha" (click)="scrollTop()">
          <div class="container-item">
            <div class="card">
              <img class="card-img" src="../../../assets/cracha.webp" alt="Seção de crachás">
              <div class="card-content">
                <h2 class="card-header">Crachá</h2>
                <p class="card-text">Identifique sua equipe de forma profissional e segura com nossos crachás personalizados, garantindo uma identificação clara e duradoura. Produzidos com materiais duráveis, de alta qualidade e designs exclusivos, garantimos que seus funcionários sejam reconhecidos com estilo e profissionalismo.</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="splide__slide">
        <a href="/panfletos" (click)="scrollTop()">
          <div class="container-item">
            <div class="card">
              <img class="card-img" src="../../../assets/panfleto.webp" alt="Seção de panfletos">
              <div class="card-content">
                <h2 class="card-header">Panfletos</h2>
                <p class="card-text">Divulgue suas informações, produtos ou serviços de maneira eficiente com nossos panfletos impressos em alta qualidade. Produzidos com cores vibrantes e imagens nítidas, garantindo que sua mensagem seja transmitida de forma clara e impactante. Com combinações de formatos e papéis para alcançar seu público-alvo.</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="splide__slide">
        <a href="/plotagem" (click)="scrollTop()">
          <div class="container-item">
            <div class="card">
              <img class="card-img" src="../../../assets/plotagem.webp" alt="Seção de plotagem">
              <div class="card-content">
                <h2 class="card-header">Plotagem</h2>
                <p class="card-text">Visualize seus projetos com precisão e qualidade excepcionais usando nossos serviços de plotagem de grandes formatos. Nossos equipamentos avançados e materiais de alta qualidade garantem a reprodução nítida e detalhada de desenhos técnicos, plantas arquitetônicas e mapas.</p>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
