<div class="Container">
  <div class="Carousel">
    <div class="carouselContainer">
      <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2100">
            <img src="../../../../assets/produtos-personalizados-1.webp" class="d-block " alt="Imagem ilustrativa de alguns produtos personalizados feitos sobre encomenda.">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Informations">
    <div class="Title">
      <h1>Produtos Personalizados</h1>
    </div>
    <div class="Details">
      <p>
        Nós somos uma empresa especializada em produtos personalizados para todos os tipos de eventos e ocasiões especiais. Oferecemos uma ampla variedade de produtos de alta qualidade, incluindo canecas, camisas, azulejos, MDF e brindes.
      </p>
      <p>
        Nossas canecas personalizadas são perfeitas para quem deseja criar uma lembrança única e personalizada para seus convidados ou presentear alguém especial. Temos uma ampla variedade de designs e estilos para escolher, garantindo que você encontre algo que combine com seu gosto e orçamento.
      </p>
      <p>
        Para aqueles que buscam uma opção de lembrança mais duradoura, nossos azulejos e MDF personalizados são uma ótima escolha. Esses itens podem ser personalizados com fotos, mensagens e design exclusivo, tornando-os uma lembrança única e duradoura para qualquer ocasião especial.
      </p>
    </div>
    <button id="addToCartButton">
      <a href="https://api.whatsapp.com/send?phone=+55619414-8101&text=Olá gostaria de solicitar um orçamento para o serviço de Produtos Personalizados, pode me ajudar ?" target="_blank">Solicitar Orçamento</a>
    </button>
  </div>
</div>
