<div class="Container">
  <div class="Carousel">
    <div class="carouselContainer">
      <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2100">
            <img src="../../../../assets/produtos-personalizados.jpg" class="d-block " alt="Imagem do interior da loja, em destaque canetas vermelhas e coloridas.">
          </div>
          <div class="carousel-item" data-bs-interval="2100">
            <img src="../../../../assets/papelariaPersonalizada.png" class="d-block " alt="Imagem de uma vitrine do interior da loja, em destaque materiais de escritorio como lapis de colorir e giz de cera.">
          </div>
          <div class="carousel-item" data-bs-interval="2100">
            <img src="../../../../assets/produtos-personalizados.jpg" class="d-block " alt="Outra imagem de uma vitrine do interior da loja, em destaque materiais de escritorio como lapis de colorir, giz de cera, canetas, lapis e lapiseiras.">
          </div>
          <div class="carousel-item" data-bs-interval="2100">
            <img src="../../../../assets/produtos-personalizados.jpg" class="d-block " alt="Imagem de uma prateleira no interior da loja, em destaque materiais de escritorio como postiches, blocos de notas, agendas e algumas canetas coloridas.">
          </div>
          <div class="carousel-item" data-bs-interval="2100">
            <img src="../../../../assets/produtos-personalizados.jpg" class="d-block " alt="Imagem de 3 impressoras de alta performace que são utilizadas na loja para servicos de impressao, copia, cartões de visita, flyers, banners, adesivos e muito mais.">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="Informations">
    <div class="Title">
      <h1>Produtos Personalizados</h1>
    </div>
    <div class="Details">
      <p>
        Nós somos uma empresa especializada em produtos personalizados para todos os tipos de eventos e ocasiões especiais. Oferecemos uma ampla variedade de produtos de alta qualidade, incluindo canecas, camisas, azulejos, MDF e brindes.
      </p>
      <p>
        Nossas canecas personalizadas são perfeitas para quem deseja criar uma lembrança única e personalizada para seus convidados ou presentear alguém especial. Temos uma ampla variedade de designs e estilos para escolher, garantindo que você encontre algo que combine com seu gosto e orçamento.
      </p>
      <p>
        Para aqueles que buscam uma opção de lembrança mais duradoura, nossos azulejos e MDF personalizados são uma ótima escolha. Esses itens podem ser personalizados com fotos, mensagens e design exclusivo, tornando-os uma lembrança única e duradoura para qualquer ocasião especial.
      </p>
    </div>
    <button id="addToCartButton">Solicitar Orçamento</button>
  </div>
</div>
