<div class="Container">
  <div class="Carousel">
    <div class="carouselContainer">
      <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2100">
            <img src="../../../../assets/encadernacao-1.webp" class="d-block " alt="Imagem ilustrativa de alguns produtos personalizados feitos sobre encomenda.">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Informations">
    <div class="Title">
      <h1>Encadernação</h1>
    </div>
    <div class="Details">
      <p>
        A encadernação consiste em unir e proteger páginas soltas ou folhas impressas, transformando-as em um documento encadernado. Essa etapa é essencial para dar uma apresentação profissional a relatórios, manuais, apostilas, catálogos, livros, entre outros materiais.
      </p>
      <p>
        Nós da Imprime Services oferecemos diferentes opções de encadernação para atender às necessidades e preferências dos clientes. Alguns dos serviços de encadernação incluem:
      </p>
      <div class="encadernacaoCards">
        <div class="Cards espiralCard"><span>Encadernação em espiral:</span><br><br> Esse método envolve a utilização de um fio plástico que é inserido através de furos perfurados nas páginas. Esse tipo de encadernação permite que as páginas fiquem totalmente planas quando abertas, facilitando a leitura e o manuseio.</div>
        <div class="Cards brochuraCard"><span>Encadernação em brochura:</span><br><br> Também conhecida como encadernação colada ou grampo canoa, é um método em que as páginas são dobradas ao meio e fixadas com grampos. Esse tipo de encadernação é comumente usado para brochuras, catálogos ou pequenos livros.
        </div>
        <div class="Cards cartonagemCard"><span>Encadernação em capa dura ou cartonagem:</span><br><br> São mais duas opções mais resistentes e duráveis, ideal para livros, álbuns de fotos ou projetos especiais. Nesse método, as páginas são costuradas e coladas em uma capa dura personalizada, conferindo uma aparência elegante e profissional ao material.
        </div>
      </div>
      <p>
        Além desses métodos de encadernação, oferecemos outros serviços complementares, como laminação, corte e acabamentos.
      </p>
      <p>
        Ao escolher o serviço de encadernação, é importante considerar o tipo de material, a quantidade de páginas, o acabamento desejado e a finalidade do documento. Os nossos profissionais irão fornecer orientações especializadas e ajudar a escolher a opção de encadernação mais adequada para atender às suas necessidades.
      </p>
    </div>
    <button id="addToCartButton">
      <a href="https://api.whatsapp.com/send?phone=+55619414-8101&text=Olá gostaria de solicitar um orçamento para o serviço de 'Encadernação', pode me ajudar ?" target="_blank">Solicitar Orçamento</a>
    </button>
  </div>
</div>
