<div class="Container">
  <div class="Carousel">
    <div class="carouselContainer">
      <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2100">
            <img src="../../../../assets/criacao-design.webp" class="d-block " alt="Imagem ilustrativa de alguns produtos personalizados feitos sobre encomenda.">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="Informations">
    <div class="Title">
      <h1>Criação de Arte e Design Gráfico</h1>
    </div>
    <div class="Details">
      <p>
        Nosso serviço de criação de arte e design gráfico é fundamental para a produção de materiais impressos e digitais visualmente atraentes e profissionais. Os nossos designers especializados trabalham em estreita colaboração com os clientes, desenvolvendo identidades visuais que representam a essência da marca e criando designs personalizados para materiais impressos, embalagens e projetos digitais.
      </p>
      <p>
        Utilizamos os princípios de design, como layout, tipografia, cores e imagens, para transmitir a mensagem desejada de forma eficaz e atraente. Além disso, ficamos disponíveis para revisar e fazer ajustes nos projetos, garantindo que estejam alinhados com a identidade visual e cumpram os requisitos técnicos necessários.
      </p>
      <p>
        Em resumo, o nosso serviço de criação de arte e design gráfico oferece soluções profissionais e personalizadas para a comunicação visual de empresas, marcas e projetos, ajudando-os a se destacar e gerar impacto visual.
      </p>
    </div>
    <button id="addToCartButton">
      <a href="https://api.whatsapp.com/send?phone=+55619414-8101&text=Olá gostaria de solicitar um orçamento para o serviço de 'Criação de Arte e Design Gráfico', pode me ajudar ?" target="_blank">Solicitar Orçamento</a>
    </button>
  </div>
</div>
