.pageContentsContainer{
  background-image: linear-gradient(to right bottom, #ff4040, #f43432, #e82724, #dc1814, #d00000);
  width: 100%;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.pageContentsApresentation{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 36rem;
  text-align: justify;
  padding: 40px;
  width: 100%;
}

.pageContentsApresentation h1{
  font-size: 45px;
  font-weight: bolder;
  text-align: left;
}
.pageContentsApresentation p{
  font-size: 22px;
  line-height: 50px;
  width: 750px;

}
.pageContentsApresentationLink a{

  display: flex;
  justify-content: center;
  align-items: center;

}

.pageContentsApresentationLink a{
  background-color: white;
  color: var(--color-red);
  font-weight: bolder;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: .8rem;
  width: 160px;
  height: 55px;

}

.pageContentsApresentationLink a:hover{
  rotate: -15deg;
  transform: scale(1.1);
  transition: 400ms;
}

.pageContentsApresentationLink svg{
  color: var(--color-red);
  padding-right: 10px;
  width: 30px;

}

.pageContentsImages{
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 1649px) {
  .pageContentsContainer{
    padding: 40px;
  }
  .pageContentsApresentation{
    padding: 0px;
    align-items: center;
  }
  .pageContentsApresentation p{
    font-size: 18px;
    line-height: 40px;
    width: 450px;
  }
  .pageContentsApresentation h1{
    font-size: 35px;
    font-weight: bolder;
  }

}
@media screen and (max-width: 1169px) {

  .pageContentsContainer{

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 800px;
  }

  .pageContentsImages{
    width: 100%;
    height: 100%;
  }

}
@media screen and (max-width: 579px) {
  .pageContentsApresentation p{
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .pageContentsApresentation h1{
    font-size: 28px;

  }
  .pageContentsApresentationLink{
    margin-top: 20px;
  }

  .pageContentsContainer{
    padding-top: 40px;
    height: 100%;
  }

}



