<div class="carouselContainer">
  <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2100">
        <div class="container-item">
          <div class="card">
            <img class="card-img" src="../../../assets/testeContentImage.jpg" alt="Impressão Digital">
            <div class="card-content">
              <h1 class="card-header">Impressão Digital</h1>
              <p class="card-text">Nossos serviços de impressão digital e offset podem ajudar nossos clientes a produzir materiais de alta qualidade para seus negócios, eventos ou necessidades pessoais. Temos uma grande variedade de opções de impressão, incluindo cartões de visita, folhetos, convites, panfletos e muito mais.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2100">
        <div class="container-item">
          <div class="card">
            <img class="card-img" src="../../../assets/encadernacao.png" alt="Encadernação e Plastificação">
            <div class="card-content">
              <h1 class="card-header">Encadernação e Plastificação</h1>
              <p class="card-text">Oferecemos serviços de encadernação e plastificação para proteger e aprimorar seus documentos e materiais impressos. Temos diversas opções de encadernação, incluindo espiral, wire-o, brochura e capa dura. Além disso, nossa plastificação ajuda a proteger seus documentos contra danos e desgaste.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2100">
        <div class="container-item">
          <div class="card">
            <img class="card-img" src="../../../assets/design-grafico.avif" alt="Criação de Arte e Design Gráfico">
            <div class="card-content">
              <h1 class="card-header">Criação de Arte e Design Gráfico</h1>
              <p class="card-text">Nossa equipe de design gráfico pode ajudar nossos clientes a criar arte personalizada para seus materiais de impressão. Temos experiência em criar logotipos, designs de cartões de visita e folhetos, entre outros.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
