<footer>
  <div id="footer_content">
    <div id="footer_contacts">
      <h1>Imprime Services</h1>

      <p>Comprometidos em oferecer soluções <br>de impressão e material de escritório <br>de alta qualidade para nossos clientes.</p>

      <div id="footer_social_media">
        <a href="https://www.instagram.com/papelaria_imprime/" target="_blank" class="footer-link" id="instagram">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+55619414-8101&text=Olá%20Gostaria%20de%20informações%2C%20pode%20me%20atender%3F" class="footer-link" id="whatsapp" target="_blank">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </div>
    </div>

    <div class="footer-list">
      <div>
        <h2>Produtos e Serviços</h2>
      </div>
      <div class="footer-link">Impressão Digital, Digitalização e Offset</div>
      <div class="footer-link">Encadernação e Plastificação</div>
      <div class="footer-link">Criação de Arte e Design Gráfico</div>
      <div class="footer-link">Material Escolar e Escritório</div>
      <div class="footer-link">Papelaria Personalizada</div>
      <div class="footer-link">Carimbos e Crachá</div>
      <div class="footer-link">Cartão de Visita e Panfletos</div>
      <div class="footer-link">Banner em Lona e Papel</div>
      <div class="footer-link">Plotagem</div>
      <div class="footer-link">Adesivo em Metro</div>
    </div>

    <div class="footer-list">
      <div>
        <h2>Contato</h2>
      </div>
      <div class="footer-link">
        <i class="fa-solid fa-phone"></i>
        <span>(61) 99414-8101</span>
      </div>
      <div class="footer-link">
        <i class="fa-solid fa-envelope"></i>
        <span><div class="span-mail">imprime.df@gmail.com</div></span>
      </div>
    </div>
  </div>

  <div id="footer_copyright">
    &copy;2023 all rights reserved. designed by <span> <a href="https://github.com/TheeCronos" target="_blank">theCronos</a> and <a href="https://project-my-personal-landing-page-q4dp.vercel.app" target="_blank">ryuzaki</a></span>
  </div>
</footer>
