<div class="galleryContainer">
  <div class="subtitleDesktop">
    <h1>Galeria de imagens</h1>
    <h2>(Passe o mouse por cima!)</h2>
  </div>
  <div class="subtitleMobile">
    <h1>Galeria de imagens</h1>
    <h2>(Aperte na imagem desejada para visualizar!)</h2>
  </div>

  <div class="galleryContents">
    <div class="content1">
      <div class="card">
        <img src="../../../assets/interior-loja-1.webp" alt="Oitava imagem de representacao das lojas e servicos ofertados">
      </div>
      <div class="card">
        <img src="../../../assets/interior-loja-2.webp" alt="Nona imagem de representacao das lojas e servicos ofertados">
      </div>
      <div class="card">
        <img src="../../../assets/interior-loja-3.webp" alt="Decima imagem de representacao das lojas e servicos ofertados">
      </div>
    </div>

    <div class="content2">
      <div class="card">
        <img src="../../../assets/faixada-df-plaza.webp" alt="Primeira imagem de representacao das lojas e servicos ofertados">
      </div>
      <div class="card">
        <img src="../../../assets/faixada-pistao-sul.webp" alt="Segunda imagem de representacao das lojas e servicos ofertados">
      </div>
      <div class="card">
        <img src="../../../assets/faixada-taguatinga-shopping.webp" alt="Terceira imagem de representacao das lojas e servicos ofertados">
      </div>
    </div>

    <div class="content3">
      <div class="card">
        <img src="../../../assets/interior-loja-4.webp" alt="Quarta imagem de representacao das lojas e servicos ofertados">
      </div>
      <div class="card">
        <img src="../../../assets/interior-loja-5.webp" alt="Quinta imagem de representacao das lojas e servicos ofertados">
      </div>
      <div class="card">
        <img src="../../../assets/interior-loja-6.webp" alt="Sexta imagem de representacao das lojas e servicos ofertados">
      </div>
      <div class="card over">
        <img src="../../../assets/interior-loja-7.webp" alt="Sétima imagem de representacao das lojas e servicos ofertados">
      </div>
    </div>
  </div>
</div>
