<div class="galleryContainer">
  <div class="subtitleDesktop">
    <h1>Galeria de imagens</h1>
    <h2>(Passe o mouse por cima!)</h2>
  </div>
  <div class="subtitleMobile">
    <h1>Galeria de imagens</h1>
    <h2>(Aperte na imagem desejada para visualizar!)</h2>
  </div>

  <div class="galleryContents">
    <div class="content1">
      <div class="card">
        <img src="../../../assets/imagem1.jpg" alt="">
      </div>
      <div class="card">
        <img src="../../../assets/imagem2.jpg" alt="">
      </div>
      <div class="card">
        <img src="../../../assets/imagem3.jpg" alt="">
      </div>
    </div>

    <div class="content2">
      <div class="card">
        <img src="../../../assets/faixadaPlaza.jpg" alt="">
      </div>
      <div class="card">
        <img src="../../../assets/faixadaPistaoSul.jpg" alt="">
      </div>
      <div class="card">
        <img src="../../../assets/faixadaTGS.jpg" alt="">
      </div>
    </div>

    <div class="content3">
      <div class="card">
        <img src="../../../assets/imagem4.jpg" alt="">
      </div>
      <div class="card">
        <img src="../../../assets/imagem5.jpg" alt="">
      </div>
      <div class="card">
        <img src="../../../assets/imagem6.jpg" alt="">
      </div>
      <div class="card over">
        <img src="../../../assets/imagem7.jpg" alt="">
      </div>
    </div>
  </div>
</div>
