<div class="galleryContainer">
  <div class="subtitleDesktop">
    <h1>Galeria de imagens</h1>
    <h2>(Passe o mouse por cima!)</h2>
  </div>
  <div class="subtitleMobile">
    <h1>Galeria de imagens</h1>
    <h2>(Aperte na imagem desejada para visualizar!)</h2>
  </div>

  <div class="galleryContents">
    <div class="content1">
      <div class="card">
        <img src="../../../assets/faixadaPlaza.jpg" alt="">
      </div>
      <div class="card">
        <img src="../../../assets/faixadaPistaoSul.jpg" alt="">
      </div>
      <div class="card">
        <img src="../../../assets/faixadaTGS.jpg" alt="">
      </div>

    </div>
    <div class="content2">
      <div class="card">
        <img src="../../../assets/carrosel1.jpg" alt="">
      </div>
      <div class="card">
        <img src="../../../assets/carrosel2.jpg" alt="">
      </div>
      <div class="card">
        <img src="../../../assets/roll1.jpg" alt="">
      </div>

    </div>
    <div class="content3">
      <div class="card">
        <img src="../../../assets/roll2.jpg" alt="">
      </div>
      <div class="card">
        <img src="../../../assets/materialEscolar.jpg" alt="">
      </div>
      <div class="card">
        <img src="../../../assets/papelariaPersonalizada.png" alt="">
      </div>
      <div class="card over">
        <img src="../../../assets/design-grafico.avif" alt="">
      </div>
    </div>
  </div>
</div>
