<div class="Container">
  <div class="Carousel">
    <div class="carouselContainer">
      <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2100">
            <img src="../../../../assets/plotagem.webp" class="d-block " alt="Imagem ilustrativa do serviço de plotagem">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Informations">
    <div class="Title">
      <h1>Plotagem</h1>
    </div>
    <div class="Details">
        <p>
          Na nossa loja, oferecemos serviços de plotagem de alta qualidade para atender às suas necessidades de impressão de grandes formatos. Utilizamos equipamentos avançados e materiais de alta qualidade para garantir a reprodução precisa e nítida dos seus desenhos técnicos, plantas arquitetônicas ou qualquer outra ilustração de grande escala.
        </p>
        <p>
          Nossa equipe está pronta para ajudá-lo com qualquer especificação técnica ou demanda específica do seu projeto. Conte conosco para obter plotagens de alta resolução e qualidade excepcional.
        </p>
      </div>
      <button id="addToCartButton">
        <a href="https://api.whatsapp.com/send?phone=+55619414-8101&text=Olá gostaria de solicitar um orçamento para o serviço de plotagem, pode me ajudar ?" target="_blank">Solicitar Orçamento</a>
      </button>
    </div>
  </div>
