<div class="Container">
  <div class="Informations">
    <div class="Title">
      <h1>Material de Escritório e Escolar</h1>
    </div>
    <div class="Details">
      <p>
        Os produtos de material escolar oferecidos por nossas lojas são essenciais para estudantes de todas as idades, desde a educação infantil até a universidade. Eles desempenham um papel fundamental no apoio ao aprendizado, organização e realização de tarefas acadêmicas.
      <br>
        Aqui está uma descrição geral dos produtos de material escolar comumente encontrados em nossas lojas:
      </p>
      <div class="encadernacaoCards">
        <div class="Cards"><span>Canetas e lápis:</span><br><br> Canetas esferográficas, canetas-gel, lápis de escrever e lápis de cor são itens indispensáveis para os estudantes. Eles são usados para escrever, fazer anotações, desenhar e colorir.</div>
        <div class="Cards"><span>Cadernos e blocos de anotações:</span><br><br> Cadernos pautados, quadriculados, de desenho ou em branco são utilizados para fazer anotações em sala de aula, registrar tarefas e projetos, ou desenvolver atividades criativas.
        </div>
        <div class="Cards"><span>Papel sulfite:</span><br><br> O papel sulfite é amplamente utilizado para imprimir trabalhos, redações, apresentações e outros documentos importantes.
        </div>
        <div class="Cards"><span>Pastas e organizadores:</span><br><br> Pastas com elástico, pastas catálogo, fichários e organizadores são essenciais para manter os papéis e documentos organizados e protegidos.
        </div>
        <div class="Cards"><span>Réguas e compassos:</span><br><br> Réguas de diferentes tamanhos, compassos e transferidores são utilizados em atividades de geometria, desenho técnico e medições.
        </div>
        <div class="Cards"><span>Tesouras e cola:</span><br><br> Tesouras de ponta redonda ou afiada, colas em bastão ou líquidas são utilizadas para recortar e colar materiais em projetos, colagens e trabalhos manuais.
        </div>
        <div class="Cards"><span>Post-its e marcadores:</span><br><br> Post-its adesivos são ideais para fazer anotações rápidas e destacar informações importantes em livros e cadernos. Marcadores de texto são utilizados para marcar trechos relevantes em textos e apostilas.
        </div>
        <div class="Cards"><span>Mochilas e estojos:</span><br><br> Mochilas escolares são projetadas para transportar livros, cadernos e outros materiais com conforto e praticidade. Estojos são usados para guardar canetas, lápis, borrachas, apontadores e outros itens menores.
        </div>
        <div class="Cards"><span>Calculadoras:</span><br><br> Calculadoras científicas, financeiras ou básicas são utilizadas em aulas de matemática, ciências e disciplinas que envolvem cálculos.
        </div>
        <div class="Cards"><span>Artigos complementares:</span><br><br> Além dos itens básicos, papelarias também oferecem uma variedade de produtos complementares, como borrachas, apontadores, dicionários, compassos de corte, réguas específicas, moleskines, entre outros.
        </div>
      </div>
      <p>
        Os produtos de material escolar das nossas lojas são selecionados para atender às necessidades educacionais dos estudantes, fornecendo ferramentas de qualidade que os auxiliam no processo de aprendizado e organização. Oferecemos uma ampla variedade de opções para que nossos clientes possam encontrar os produtos adequados às suas preferências e requisitos específicos.<br>
        Temos esses produtos e vários outros!
      </p>
      <p>
        <span>Entre em contato para saber mais!</span>
      </p>
    </div>
    <button id="addToCartButton">
      <a href="https://api.whatsapp.com/send?phone=+55619414-8101&text=Olá estou precisando de 'Materiais de Escritório e Escolar', pode me ajudar ?" target="_blank">Entrar em contato</a>
    </button>
  </div>
</div>
