<div class="Container">
  <div class="Carousel">
    <div class="carouselContainer">
      <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2100">
            <img src="../../../../assets/testeContentImage.jpg" class="d-block " alt="Imagem ilustrativa de alguns produtos personalizados feitos sobre encomenda.">
          </div>
          <div class="carousel-item" data-bs-interval="2100">
            <img src="../../../../assets/testeContentImage.jpg" class="d-block " alt="Imagem ilustrativa de alguns produtos personalizados feitos sobre encomenda.">
          </div>
          <div class="carousel-item" data-bs-interval="2100">
            <img src="../../../../assets/testeContentImage.jpg" class="d-block " alt="Imagem ilustrativa de alguns produtos personalizados feitos sobre encomenda.">
          </div>
          <div class="carousel-item" data-bs-interval="2100">
            <img src="../../../../assets/testeContentImage.jpg" class="d-block " alt="Imagem ilustrativa de uma impressora realizando uma impressão em alta qualidade.">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="Informations">
    <div class="Title">
      <h1>Impressão Digital</h1>
    </div>
    <div class="Details">
      <p>
        O nosso serviço de impressão digital  é uma opção moderna e eficiente para produzir materiais impressos de alta qualidade de forma ágil e conveniente. Utilizamos tecnologia avançada, a impressão digital permite a produção sob demanda, eliminando a necessidade de grandes tiragens e possibilitando a impressão de um único exemplar. Com qualidade excepcional, a impressão digital reproduz cores vibrantes, detalhes nítidos e gráficos precisos em uma variedade de substratos.
      </p>
      <p>
        Além disso, a impressão digital oferece rapidez na produção, eliminando etapas intermediárias e permitindo entregas rápidas. Com flexibilidade e versatilidade, é possível personalizar cada impressão de forma individualizada, inserindo informações variáveis e incluindo elementos de design exclusivos.
      </p>
      <p>
        A impressão digital também possibilita provas rápidas e ajustes de última hora, garantindo a qualidade do produto final. Em resumo, o serviço de impressão digital em uma gráfica rápida oferece uma solução moderna, personalizada e eficiente para atender às necessidades de impressão de empresas, profissionais autônomos e indivíduos.
      </p>
    </div>
    <button id="addToCartButton">
      <a href="https://api.whatsapp.com/send?phone=+55619414-8101&text=Olá gostaria de solicitar um orçamento para o serviço de 'Impressão Digital', pode me ajudar ?" target="_blank">Solicitar Orçamento</a>
    </button>
  </div>
</div>
