<h1>Produtos e Serviços</h1>

<section class="splide" >
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <a routerLink="/impressao-digital" (click)="scrollTop()">
          <div class="container-item">
            <div class="card">
              <img class="card-img" src="../../../assets/testeContentImage.jpg" alt="Seção de Impressão Digital">
              <div class="card-content">
                <h2 class="card-header">Impressão Digital</h2>
                <p class="card-text">Nossos serviços de impressão digital e offset podem ajudar nossos clientes a produzir materiais de alta qualidade para seus negócios, eventos ou necessidades pessoais. Temos uma grande variedade de opções de impressão, incluindo cartões de visita, folhetos, convites, panfletos e muito mais.</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="splide__slide">
        <a routerLink="/produtos-personalizados" (click)="scrollTop()">
          <div  class="container-item">
            <div class="card">
              <img class="card-img" src="../../../assets/produtos-personalizados.jpg" alt="Seção de Produtos personalizados">
              <div class="card-content">
                <h2 class="card-header">Produtos Personalizados</h2>
                <p class="card-text">Nós somos uma empresa especializada em produtos personalizados para todos os tipos de eventos e ocasiões especiais. Oferecemos uma ampla variedade de produtos de alta qualidade, incluindo canecas, camisas, azulejos, MDF e brindes.</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="splide__slide">
        <a routerLink="/encadernacao" (click)="scrollTop()">
          <div class="container-item">
            <div class="card">
              <img class="card-img" src="../../../assets/encadernacao.png" alt="Seção de Encadernação e Plastificação">
              <div class="card-content">
                <h2 class="card-header">Encadernação e Plastificação</h2>
                <p class="card-text">Oferecemos serviços de encadernação e plastificação para proteger e aprimorar seus documentos e materiais impressos. Temos diversas opções de encadernação, incluindo espiral, wire-o, brochura e capa dura. Além disso, nossa plastificação ajuda a proteger seus documentos contra danos e desgaste.</p>
              </div>
            </div>
          </div>
        </a>
      </li>

      <li class="splide__slide">
        <a routerLink="/criacao-arte-design" (click)="scrollTop()">
          <div class="container-item">
            <div class="card">
              <img class="card-img" src="../../../assets/criacao-design.png" alt="Seção de Criação de Arte e Design Gráfico">
              <div class="card-content">
                <h2 class="card-header">Criação de Arte e Design Gráfico</h2>
                <p class="card-text">Nossa equipe de design gráfico pode ajudar nossos clientes a criar arte personalizada para seus materiais de impressão. Temos experiência em criar logotipos, designs de cartões de visita e folhetos, entre outros.</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="splide__slide">
        <a routerLink="/material-escritorio" (click)="scrollTop()">
          <div class="container-item">
            <div class="card">
              <img class="card-img" src="../../../assets/materialEscolar.jpg" alt="Seção de Material de Escritório e Escolar">
              <div class="card-content">
                <h2 class="card-header">Material de Escritório e Escolar</h2>
                <p class="card-text">Ampla variedade de material de escritório e escolar para nossos clientes. Temos uma grande variedade de produtos, incluindo canetas, cadernos, agendas, pastas e muito mais.</p>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
