.container {
  padding: 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 3.7rem;
  flex-wrap: wrap;
  align-items: center;
  background-color: #eee;

  min-height: 100%;
}

.container-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  width: 25rem;
  height: 45rem;
}

.container-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 1.5rem;
  height: 400px;
}

.card-header {
  font-size: 2rem;
  font-weight: 500;
  color: #0d0d0d;

}

.card-text {
  font-size: 1.2rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 1rem;
}
