<h1>Produtos e Serviços</h1>

<section class="splide" >
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div class="container-item">
          <div class="card">
            <img class="card-img" src="../../../assets/testeContentImage.jpg" alt="Impressão Digital">
            <div class="card-content">
              <h3 class="card-header">Impressão Digital</h3>
              <p class="card-text">Nossos serviços de impressão digital e offset podem ajudar nossos clientes a produzir materiais de alta qualidade para seus negócios, eventos ou necessidades pessoais. Temos uma grande variedade de opções de impressão, incluindo cartões de visita, folhetos, convites, panfletos e muito mais.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="splide__slide">
        <div class="container-item">
          <div class="card">
            <img class="card-img" src="../../../assets/encadernacao.png" alt="Encadernação e Plastificação">
            <div class="card-content">
              <h3 class="card-header">Encadernação e Plastificação</h3>
              <p class="card-text">Oferecemos serviços de encadernação e plastificação para proteger e aprimorar seus documentos e materiais impressos. Temos diversas opções de encadernação, incluindo espiral, wire-o, brochura e capa dura. Além disso, nossa plastificação ajuda a proteger seus documentos contra danos e desgaste.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="splide__slide">
        <div class="container-item">
          <div class="card">
            <img class="card-img" src="../../../assets/design-grafico.avif" alt="Criação de Arte e Design Gráfico">
            <div class="card-content">
              <h3 class="card-header">Criação de Arte e Design Gráfico</h3>
              <p class="card-text">Nossa equipe de design gráfico pode ajudar nossos clientes a criar arte personalizada para seus materiais de impressão. Temos experiência em criar logotipos, designs de cartões de visita e folhetos, entre outros.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="splide__slide">
        <div class="container-item">
          <div class="card">
            <img class="card-img" src="../../../assets/materialEscolar.jpg" alt="Material de Escritório e Escolar">
            <div class="card-content">
              <h3 class="card-header">Material de Escritório e Escolar</h3>
              <p class="card-text">Ampla variedade de material de escritório e escolar para nossos clientes. Temos uma grande variedade de produtos, incluindo canetas, cadernos, agendas, pastas e muito mais.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="splide__slide">
        <div class="container-item">
          <div class="card">
            <img class="card-img" src="../../../assets/papelariaPersonalizada.png" alt="Papelaria Personalizada">
            <div class="card-content">
              <h3 class="card-header">Papelaria Personalizada</h3>
              <p class="card-text">Oferecemos serviços de papelaria personalizada para nossos clientes. Podemos criar produtos personalizados com o nome ou logotipo da sua empresa, como blocos de notas, envelopes, papel timbrado e muito mais.</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
