<footer>
  <div id="footer_content">
    <div id="footer_contacts">
      <h1>Imprime Services</h1>
      
      <p>Comprometidos em oferecer soluções de impressão e material de escritório de alta qualidade para nossos clientes.</p>
      
      <div id="footer_social_media">
        <a href="#" class="footer-link" id="instagram">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="#" class="footer-link" id="whatsapp">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </div>   
    </div>  
     
    <ul class="footer-list">
      <li>
        <h3>Produtos e Serviços</h3>
      </li>
      <li class="footer-link">Impressão digital e offset</li>
      <li class="footer-link">Encadernação e plastificação</li>
      <li class="footer-link">Criação de arte e design gráfico</li>
      <li class="footer-link">Material de escritório e escolar</li>
      <li class="footer-link">Papelaria personalizada</li>
    </ul>

    <ul class="footer-list">
      <li>
        <h3>Contato</h3>
      </li>
      <li class="footer-link">
        <i class="fa-solid fa-phone"></i>
        number
      </li>
      <li class="footer-link">
        <i class="fa-solid fa-envelope"></i>
        mail
      </li>
    </ul>
  </div>

  <div id="footer_copyright">
    &copy;2023 all rights reserved. designed by <span>theCronos and ryuzaki</span>
  </div>
</footer>
