@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
}

footer {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  width: 100%;
  color: var(--color-neutral-40);
}

.footer-link{
  text-decoration: none;
}

.footer-link span{
  margin-left: 15px;
}

.footer-link .span-mail{
  margin-left: 17px;
}

#footer_content {
  background-color: var(--color-neutral-10);
  display: flex;
  justify-content: space-evenly;
  height: 350px;
}

#footer_contacts, .footer-list {
  width: 400px;
  margin-top: 85px;
}

#footer_contacts h1 {
  margin-bottom: 23px;
  font-size: 25px;
}

#footer_contacts {
  margin-left: 150px;
}

#footer_contacts p{
  line-height: 25px;
}

#footer_social_media {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.3s;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
  margin-left: 0.1rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list h3 {
  margin-bottom: 20px;
}

.footer-list .footer-link {
  color: var(--color-neutral-30);
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
  text-transform: capitalize;
}

#footer_copyright span{
  text-transform: uppercase;
  letter-spacing: 0px;
  color: var(--color-neutral-30);
  font-weight: bold;
  margin-left: 3px;
}



@media screen and (max-width: 768px) {
  #footer_content{
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content{
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}
