<div id="btnTop">
  <i class="arrow up"></i>
</div>

<footer>
  <div id="footer_content">
    <div id="footer_contacts">
      <h1>Imprime Services</h1>
      
      <p>Comprometidos em oferecer soluções <br>de impressão e material de escritório <br>de alta qualidade para nossos clientes.</p>
      
      <div id="footer_social_media">
        <a href="https://instagram.com/imprimeservices?igshid=YmMyMTA2M2Y=" target="_blank" class="footer-link" id="instagram">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="#" class="footer-link" id="whatsapp">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </div>   
    </div>  
     
    <ul class="footer-list">
      <li>
        <h3>Produtos e Serviços</h3>
      </li>
      <li class="footer-link">Impressão Digital e Offset</li>
      <li class="footer-link">Encadernação e Plastificação</li>
      <li class="footer-link">Criação de Arte e Design Gráfico</li>
      <li class="footer-link">Material de Escritório e Escolar</li>
      <li class="footer-link">Papelaria Personalizada</li>
    </ul>

    <ul class="footer-list">
      <li>
        <h3>Contato</h3>
      </li>
      <li class="footer-link">
        <i class="fa-solid fa-phone"></i>
        <span>(61) 3082-8229</span>
      </li>
      <li class="footer-link">
        <i class="fa-solid fa-envelope"></i>
        <span class="span-mail">imprime.df@gmail.com</span>
      </li>
    </ul>
  </div>

  <div id="footer_copyright">
    &copy;2023 all rights reserved. designed by <span> theCronos and ryuzaki</span>
  </div>
</footer>
