<div class="Container">
    <div class="Carousel">
      <div class="carouselContainer">
        <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2100">
              <img src="../../../../assets/cartao-de-visita.webp" class="d-block " alt="Imagem ilustrativa do serviço de cartões de visita">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Informations">
      <div class="Title">
        <h1>Cartão de Visita</h1>
      </div>
      <div class="Details">
        <p>
            Na nossa loja, oferecemos a criação e impressão de cartões de visita personalizados de alta qualidade. Nossos cartões são feitos com materiais duráveis e de acabamento profissional, garantindo uma apresentação
            elegante e impactante.   
        </p>
        <p>
            Trabalhamos com designs personalizados, permitindo que você inclua informações como nome, cargo, número de telefone, endereço de e-mail, site e logotipo da sua empresa. Além disso, oferecemos opções de acabamento, como laminação e verniz, para maior durabilidade e sofisticação.
        </p>
        <p>
            Seja para estabelecer contatos comerciais ou promover seus serviços, nossos cartões de visita irão ajudá-lo a transmitir uma imagem profissional e memorável.
        </p>
        </div>
        <button id="addToCartButton">
        <a href="https://api.whatsapp.com/send?phone=+55619414-8101&text=Olá gostaria de solicitar um orçamento para o serviço de cartões de visita, pode me ajudar ?" target="_blank">Solicitar Orçamento</a>
        </button>
    </div>
</div>