<div class="storeContentContainer">
  <div class="storeContainer">
    <div class="storeName">
      <p>UNIDADE</p>
      <h1>DF Plaza Shopping</h1>

      <div class="storeInfos">
        <div class="storeInfosContainer">
          <div class="storeInfos_Address">
            <h2>Endereço:</h2>
            <p>DF PLAZA</p>
            <p>Rua Copaíba, Lote 01 - Loja 29 - térreo</p>
            <p>Águas Claras</p>
            <p>Brasília</p>
            <p>DF</p>
            <p>CEP: 71919-540</p>
          </div>
          <div class="storeInfos_Contact">
            <h2>Contato:</h2>
              <a href="https://api.whatsapp.com/send?phone=+55619414-8584&text=Olá%20Gostaria%20de%20informações%2C%20pode%20me%20atender%3F" target="_blank">Tel: (61)99414-8584</a>
              <a href="mailto:imprime.df@gmail.com" target="_blank">Email:	imprime.df@gmail.com</a>
          </div>
          <div class="storeInfos_Schedules">
            <h2>Horários de funcionamento:</h2>
              <p>Segunda a Sabado:	10:00 – 20:00</p>
              <p>Domingo:	14:00 – 22:00</p>
          </div>
        </div>
        <div class="storeInfos_Localization">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30707.799084800925!2d-48.04674447629582!3d-15.83161904778688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a325f42832ad3%3A0x59143e7a3f584efa!2sDF%20Plaza%20Shopping!5e0!3m2!1spt-BR!2sbr!4v1681869679774!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" alt="Localização da loja do DF Plaza no google maps"></iframe>

          <div id="footer_social_media">
            <a href="https://www.instagram.com/papelaria_imprime/" target="_blank" class="footer-link" id="instagram">
              <i class="fa-brands fa-instagram" alt="icone de acesso ao instagram da loja"></i>
            </a>
            <a href="https://api.whatsapp.com/send?phone=+55619414-8584&text=Olá%20Gostaria%20de%20informações%2C%20pode%20me%20atender%3F" class="footer-link" id="whatsapp" target="_blank">
              <i class="fa-brands fa-whatsapp" alt="icone de acesso ao whatsapp da loja"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
