.headerContainer{
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
  box-shadow: 1px 1px 6px #1c1c1c;
  z-index: 2;
}

.logo_header img{
  width: 4rem;
}

.headerMenu {
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.headerMenu a{
  text-decoration: none;
  color: var(--color-red);
  transition: 400ms;
  font-weight: bold;
  padding: 20px;
  border-bottom: 3px solid white;
}

.headerMenu a:hover{
  color: var(--color-black);
  transition: 1200ms;
  border-bottom: 3px solid var(--color-black);
}

.active a{
  color: black;
}

.btnIconHeader{
  display: none;
  background-color: transparent;
  color: var(--color-black);
  border: none;
  cursor: pointer;
  padding: 0 .1rem;

}

@media screen and (max-width: 1039px) {
  .btnIconHeader{
    display: block;
  }
  .headerMenu{
    position: fixed;
    flex-direction: column;
    top: 0;
    background-color: #f8eded;
    height: 100%;
    width: 35vw;
    padding: 1em;
    justify-content: flex-start;
    text-align: center;
    animation-duration: 1s;
    margin-left: -100vw;

  }
  .headerMenu a{
    border-bottom: 3px solid #f8eded;
  }

}
@media screen and (max-width: 629px) {
  .headerContainer{


    padding: .5rem 2rem .5rem 0rem;
    box-shadow: 1px 1px 6px #1c1c1c;

  }
  .btnIconHeader{
    padding: 0 1rem;
  }

}

@keyframes showSideBar {
  from {margin-left: -100vw}
  top {margin-left: 0vw;}
}
@keyframes closeSideBar {
  from {margin-left: 0vw}
  top {margin-left: -100vw}
}

.content{
  text-align: center;
  height: 100vh;
  transition: 1s;
  z-index: 0;
}


