<div class="Container">
    <div class="Carousel">
      <div class="carouselContainer">
        <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2100">
              <img src="../../../../assets/adesivo.webp" class="d-block " alt="Imagem ilustrativa do serviço de adesivo em metro">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Informations">
      <div class="Title">
        <h1>Adesivo em Metro</h1>
      </div>
      <div class="Details">
        <p>
            Na nossa loja, oferecemos adesivos em metro personalizados de alta qualidade para atender às suas necessidades de comunicação visual. Nossos adesivos são feitos com materiais duráveis e resistentes, garantindo uma fixação segura e duradoura. 
        </p>
        <p>
            Trabalhamos com designs personalizados, permitindo que você escolha o visual que melhor representa sua marca, produto ou evento. Além disso, oferecemos opções de acabamento, como laminação e corte especial, para adicionar um toque extra de qualidade e personalização aos seus adesivos.
        </p>
        <p>
            Seja para promover sua marca, decorar um ambiente ou identificar objetos, nossos adesivos em metro são uma solução prática e eficiente.
        </p>
        </div>
        <button id="addToCartButton">
        <a href="https://api.whatsapp.com/send?phone=+55619414-8101&text=Olá gostaria de solicitar um orçamento para o serviço de adesivo em metro, pode me ajudar ?" target="_blank">Solicitar Orçamento</a>
        </button>
    </div>
</div>