#btnTop {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow {
  border: solid var(--color-red);
  border-width: 0 7px 7px 0;
  padding: 4px;
  display: inline-block;
  margin-top: 6px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
