<div class="Container">
  <div class="Carousel">
    <div class="carouselContainer">
      <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2100">
            <img src="../../../../assets/cracha.webp" class="d-block " alt="Imagem ilustrativa do serviço de crachá">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Informations">
    <div class="Title">
      <h1>Crachá</h1>
    </div>
    <div class="Details">
      <p>
        Na nossa loja, oferecemos serviços de confecção de crachás personalizados de alta qualidade. Nossos crachás são feitos com materiais duráveis e resistentes, garantindo que eles possam ser utilizados por um longo período de tempo.  
      </p>
      <p>
        Trabalhamos com designs personalizados, permitindo que você inclua informações como nome, cargo, foto e logotipo da sua empresa ou instituição. Além disso, oferecemos diferentes opções de fixação, como cordões, clips e alfinetes, para maior comodidade.
      </p>
      <p>
        Seja para identificar seus funcionários no local de trabalho, membros em uma instituição ou participantes em um evento, nossos crachás são a escolha ideal para garantir segurança e organização.
      </p>
    </div>
    <button id="addToCartButton">
      <a href="https://api.whatsapp.com/send?phone=+55619414-8101&text=Olá gostaria de solicitar um orçamento para o serviço de crachá, pode me ajudar ?" target="_blank">Solicitar Orçamento</a>
    </button>
  </div>
</div>
