<div class="storeContainer" id="">
  <h1>Conheça nossas lojas</h1>
  <div class="hero-section">
    <div class="card-grid">
      <a href="/store-TGS" (click)="scrollTop()" class="card">
        <div class="card__background" style="background-image: url(../../../assets/faixada-taguatinga-shopping.webp)"></div>
        <div class="card__content">
          <p class="card__category">Unidade</p>
          <h2 class="card__heading">Taguatinga Shopping</h2>
        </div>
      </a>
      <a href="/store-Plaza" (click)="scrollTop()" class="card">
        <div class="card__background" style="background-image: url(../../../assets/faixada-df-plaza.webp)"></div>
        <div class="card__content">
          <p class="card__category">Unidade</p>
          <h2 class="card__heading">DF Plaza</h2>
        </div>
      </a>
      <a href="/store-Pistao" (click)="scrollTop()" class="card">
        <div class="card__background" style="background-image: url(../../../assets/faixada-pistao-sul.webp)"></div>
        <div class="card__content">
          <p class="card__category">Unidade</p>
          <h2 class="card__heading">Pistão Sul</h2>
        </div>
      </a>
    <div>
  </div>
</div>
