<div class="storeContainer">
  <h1>Conheça nossas lojas</h1>
  <div class="hero-section">
    <div class="card-grid">
      <a routerLink="/storeTGS" class="card">
        <div class="card__background" style="background-image: url(../../../assets/faixadaTGS.jpg)"></div>
        <div class="card__content">
          <p class="card__category">Unidade</p>
          <h3 class="card__heading">Taguatinga Shopping</h3>
        </div>
      </a>
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(../../../assets/faixadaPlaza.jpg)"></div>
        <div class="card__content">
          <p class="card__category">Unidade</p>
          <h3 class="card__heading">DF Plaza</h3>
        </div>
      </a>
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(../../../assets/faixadaPistaoSul.jpg)"></div>
        <div class="card__content">
          <p class="card__category">Unidade</p>
          <h3 class="card__heading">Pistão Sul</h3>
        </div>
      </a>
    <div>
  </div>
</div>
