.hero-section{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  min-height: 100%;
  justify-content: center;

}

.storeContainer{
  background-image: linear-gradient(15deg, #202020 0%, #313131 150%);
  padding-top: 20px;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 1.5rem;
  color: #fff;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(max-width: 960px){
  .card-grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 649px){
  .card-grid{
    grid-template-columns: repeat(2, 3fr);
  }
}

@media(max-width: 459px){
  .card-grid{
    grid-template-columns: repeat(1, 3fr);
  }
  h1 {
    margin-top: .5rem;

  }
}

.card{
  list-style: none;
  position: relative;
  --bs-card-bg: none;
  border: none;
  filter: brightness(1.3);
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition:
    filter 250ms linear,
    transform 250ms linear;

}

.card:hover .card__background{
  transform: scale(1.00) translateZ(0);

}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  bottom: 18px;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.8);
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
  text-shadow: black 2px 0px 8px;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: black 2px 0px 8px;
  line-height: 1.4;
  word-spacing: 100vw;
}
