<div class="Container">
    <div class="Carousel">
      <div class="carouselContainer">
        <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2100">
              <img src="../../../../assets/banner.webp" class="d-block " alt="Imagem ilustrativa de alguns produtos personalizados feitos sobre encomenda.">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Informations">
      <div class="Title">
        <h1>Banner</h1>
      </div>
      <div class="Details">
        <p>
          Oferecemos serviços de impressão de banners em lona e papel para destacar sua mensagem de forma impactante. Trabalhamos com materiais de alta qualidade que garantem uma apresentação visual atraente e duradoura. 
        </p>
        <p>
          Nossos banners são impressos em alta resolução, com cores vivas e imagens nítidas, para capturar a atenção do público. Além disso, oferecemos diferentes tamanhos e formatos para atender às suas necessidades específicas. 
        </p>
        <p>
          Seja para promover um evento, lançar um produto ou divulgar uma campanha, nossos banners irão garantir uma presença marcante e profissional.
        </p>
      </div>
      <button id="addToCartButton">
        <a href="https://api.whatsapp.com/send?phone=+55619414-7922&text=Olá gostaria de solicitar um orçamento para o serviço de 'Criação de Arte e Design Gráfico', pode me ajudar ?" target="_blank">Solicitar Orçamento</a>
      </button>
    </div>
</div>
  