<div class="Container">
  <div class="Carousel">
    <div class="carouselContainer">
      <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2100">
            <img src="../../../../assets/panfleto.webp" class="d-block " alt="Imagem ilustrativa de alguns panfletos">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Informations">
    <div class="Title">
      <h1>Panfletos</h1>
    </div>
    <div class="Details">
        <p>
          Na nossa loja, oferecemos serviços de impressão de panfletos personalizados para a divulgação eficiente do seu negócio, evento ou campanha. Trabalhamos com diferentes formatos e tamanhos, permitindo que você escolha a opção mais adequada às suas necessidades. 
        </p>
        <p>
          Nossos panfletos são impressos em alta qualidade, com cores vibrantes e imagens nítidas, garantindo um impacto visual atrativo. Além disso, oferecemos opções de papel de qualidade para diferentes propósitos, desde panfletos informativos até panfletos promocionais.
        </p>
        <p>
          Conte com nossa equipe para criar panfletos que transmitam sua mensagem de forma clara e envolvente, alcançando o seu público-alvo de maneira eficaz.
        </p>
      </div>
      <button id="addToCartButton">
        <a href="https://api.whatsapp.com/send?phone=+55619414-8101&text=Olá gostaria de solicitar um orçamento para panfletos, pode me ajudar ?" target="_blank">Solicitar Orçamento</a>
      </button>
    </div>
  </div>
  